@model Blog.Models.HomeViewModels.IndexHomeViewModel
@using PagedList.Core.Mvc

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <form asp-controller="Home" asp-action="Index" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group mb-3">
            <input asp-for="SearchString" type="text" class="form-control" placeholder="Search posts for..." />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" style="padding: 0 10px 0 10px">Search</button>
            </div>
        </div>
    </form>
    <div class="row gx-4 gx-lg-5 justify-content-center">
        @foreach (var post in Model.Posts)
        {
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-preview">
                    <img src="~/UserFiles/Posts/@post.Id/HeaderImage.jpg" class="card-img-top">
                    <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                        <h2 class="post-title">@post.Title</h2>
                        <h3 class="post-subtitle">@Html.Raw(@post.Content[0..200].ToString())...</h3>                        
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">@post.Creator</a>
                        on @post.CreatedOn
                    </p>
                </div>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        }
    </div>
    <pager class="pager-container" list="@Model.Posts" options="@PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext" asp-action="Index" asp-controller="Home" asp-route-query="@Model.SearchString" />
</div>

